@import 'styles/mixins';

.projectBoardView {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradientPrimary;
  padding: 0 40px;

  .projectTasks {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;

    .boardColumn {
      p {
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: $white;
        margin-bottom: 18px;
      }

      .tasks {
        padding: 18px;
        border-radius: 4px;
        box-shadow: $shadowPrimary;
        background: $white;
        height: 600px;
        overflow-y: auto;

        .task {
          user-select: 'none';
          padding: 14px;
          margin: 0 0 10px 0;
          display: flex;
          flex-flow: column;

          .header {
            display: flex;
            align-items: center;

            & > button {
              color: $white;
              margin-left: auto;
            }
          }

          .name {
            font-size: 20px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .description {
            font-size: 16px;
            display: block;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}
