@import 'styles/mixins';

.projectForm {
  width: 420px;
  border-radius: 4px;
  background: linear-gradient(to top right, #4d0043, #1a006c);
  padding: 32px;

  & > p {
    margin-bottom: 24px;
  }

  .formField {
    margin-bottom: 22px;
  }

  & > button {
    margin-top: 24px;
    width: 100%;
  }
}
