@import 'styles/palette';

.projectTile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 152px;
  height: 152px;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #ffffff;
  color: #000;
  h3 {
    margin-top: 50px;
    font-weight: normal;
  }

  span {
    display: flex;
    width: 100%;
    justify-content: space-around;
    button {
      background-color: rgba(#d30000, 0.6);
      width: 40px;
      height: 40px;
      padding: 0 !important;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
      margin-bottom: 8px;
    }

    button:hover {
      background-color: #d30000;
    }
  }
}

// .projectTile:not(:first-child):not(:last-child) {
//   margin-left: 16px;
//   margin-right: 16px;
// }