@import 'styles/palette';

.projectTile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 120px;
  height: 100px;
  background-color: orange;

  h3 {
    margin-top: 10px;
  }
  
  span {
    display: flex;
    margin-top: 10px;

    button {
      width: 60px;
    }
  }
}
