@import 'styles/mixins';

$buttonHeaderColor: #1a006c;
$unActiveButtonHeader: rgba(26, 0, 108, 0.4);

.dashboard {
  display: flex;
  justify-content: center;
  // width: 100%;
  min-height: 100vh;
  background: $gradientPrimary;

  .dashboardWrapper {
    display: flex;
    background-color: orange;
    justify-content: center;
    max-width: 1168px;
    background-color: rgba(0, 0, 0, 0.2);

    .header {
      display: flex;
      font-weight: normal;
      margin-bottom: 39px;
      font-size: 24px;
    }

    .headerActive {
      font-weight: bold;
    }
  }
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  div {
    margin-top: 10px;
  }

  div:first-child {
    margin-right: 16px;
  }
  
  div:not(:first-child), div:not(:last-child) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.center {
  @include rowCenter;
}

.button {
  background-color: #d30000 !important;
  color: white !important;
  padding: 25px 35px !important;
  text-transform: none !important;
  margin-top: 10px !important;
  font-weight: normal !important;
  height: 40px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.buttonHeader {
  color: white !important;
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 8px !important;
  height: 48px;
}

.activeButton {
  background-color: $buttonHeaderColor !important;
  font-weight: bold;
}

.unActiveButton {
  background-color: $unActiveButtonHeader !important;
  font-weight: normal !important;
}
