$primary: #3381e1;
$primaryDark: #d30000;

$secondary: #5e0042;

$surface: #101b48;
$surfaceDark: #193457;
$surfacePrimary: #0f183e;
$surfaceSecondary: #121c47;

$error: #ff395b;

$ok: #65ffcb;

$white: #fff;
$black: #000;

$gradient: linear-gradient(to top right, #04060e, #121c47);

$gradientPrimary: linear-gradient(to right, #4d0043, #1a006c);

$shadowPrimary: 0 3px 6px rgba(61, 39, 39, 0.16);

$views: rgba(255, 255, 255, 0.74);
$stars: #ffdd00;

$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$fontPrimary: 'Roboto', 'sans-serif';
