@import 'styles/mixins';

.mainView {
  background: $gradientPrimary;
  min-height: 100vh;

  .fluid {
    margin: 0 auto;
    width: calc(240px + 1168px);
    display: flex;
    position: relative;

    .content {
      background-color: rgba(0, 0, 0, 0.2);
      min-height: 100vh;
      width: 1168px;
    }
  }
}
